<div class="jumbotron">
  <% if user_signed_in? %>
    
    <h1>Welcome back, User!</h1>
    
    <p class="lead">
      Please go to invoices and try the emailing pdf function!
    </p>
    
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
  
  <% else %>
    
    <h1>Welcome, new user!</h1>
    <p class="lead">
      This is a example of Web app to create a Property Management Payment Invoice. 
    </p>

    <p class="lead">
      Users are able to create or upload invoices (rows) through the web or their own CSV files.
    </p>

    <p class="lead">
      Filling the form details and last column, <em>EMAIL</em>, will send the PDF attachment to that address. 
    </p>

    <p class="lead">
      Anyone who wishes to customize the forms, contact me and I will get back to you.
    </p>
  
  <% end %>

  
</div>